// ion-segment-button {
//     // --indicator-box-shadow: transparent !important;
//     // --background:white;
//     --color: var(--ion-color-primary);
//     --background-checked: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-secondary))!important;
//     // --color-checked: white;
//     border-radius: .5rem !important;
//     padding: 2px;
//     margin: 0;
//   }


ion-segment-button {
    height: 2.5rem;
    font-weight: bold;

  }


  ion-content{
    --background: var(--ion-color-secondary);
  }
