<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Container -->
  <div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" required name="email" ngModel autofocus></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input type="password" required name="senha" ngModel></ion-input>
            </ion-item>
            <br>
    
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" 
            >Entrar</button>
        </form><!-- /form -->
    </div><!-- Fechmamento card container -->
</div><!-- Fechamento container -->
</ion-content>
