<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button>
        </ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">

      <ion-img src="../../assets/images/logonova.png" class="img-logo"></ion-img>
    <ion-text style="font-size: 1.5rem; color:white;">
      <b>Soluções em tecnologia.</b>
    </ion-text>

    <ion-card id="card-login" class="container ion-text-center">
    <form style="width: 100vw; margin-top: 1rem;" class="ion-padding" [formGroup]="formGroup" (ngSubmit)="onSubmit()" color="light">
      <ion-item>
        <ion-label position="floating" color="primary" style="font-size: 16px;">
          <b>Email</b>
        </ion-label>
        <ion-input
        formControlName="email"
        required
        type="email"
        placeholder="Digite seu email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary" style="font-size: 16px;">
        <b>Senha</b></ion-label>
        <ion-input
        type="password"
        required
        placeholder="Insira sua senha"
        formControlName="senha"
        ></ion-input>
      </ion-item>

      <br>
      <br>
      <ion-button shape="round" expand="block" class="btn" id="btn-login" type="submit" color="success">
        <b>Entrar</b>
      </ion-button>

      <br>
      <ion-button expand="block" shape="round" color="primary" (click)="navigateCadastro()">
        <b>Cadastre-se aqui!</b>
      </ion-button>
      <br>
      <br>

    </form>
  </ion-card>
  </div>
</ion-content>