

img{
    border-radius: 50%;
    width: 400px;
    height: 320px;
    border-radius: 50%;
}

ion-label{
    color: var(--ion-color-step-600, #60646b);
}

ion-content {
    
    height: 100%;
    --background: linear-gradient(#712F79, #FF5F6D);
 
  }
