<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meus descartes solidários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Descartes solidários
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="primary" type="button" (click)="navigateSaibaMaisDescarte()" class="ion-activatable ion-card">
          <ion-card-header>
            <ion-card-title style="font-size: 19px;">Entenda a iniciativa</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center">
              <ion-icon name="help-circle" style="font-size: 4rem;"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="tertiary" (click)="navigateAddDescarte()" class="ion-activatable ion-card">
          <ion-card-header>
            <ion-card-title style="font-size: 18px;">Quero fazer um descarte</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center">
              <ion-icon name="heart-circle" style="font-size: 4rem;"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="ion-padding" color="warning">
    <div style="display: flex; justify-content:center">
    <ion-icon name="information-circle-sharp" style="font-size: 2rem;"></ion-icon>
    </div>
    <br>
    <ion-card-title style="font-size: 15px;">
      Toque sobre um descarte para visualizar mais detalhes.
    </ion-card-title>
   </ion-card>


  <!-- Card responsável por renderizar a lista dos descartes -->

  <ion-card (click)="presentActionSheet(descarte)" *ngFor="let descarte of descartes" class="cardChamado">
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>{{descarte.nome_hardware}}</h1>
          <p>{{descarte.descricao}}</p>
        </ion-label>
        <ion-badge *ngIf="descarte.status !== Finalizado" color="success">{{descarte.status}}</ion-badge>
        <ion-badge *ngIf="descarte.status === Cancelado" color="light">{{descarte.status}}</ion-badge>
      </ion-item>
    </ion-list>

  </ion-card>

<!-- Card responsável por informar o usuário se ele tem ou não descartes cadastrados -->
<ion-card *ngIf="cardNenhumDescarte == true" color="primary" class="ion-padding">
  <div class="ion-text-center">
    <ion-icon name="sad" style="font-size: 5rem;"></ion-icon>
  </div>
  <br>
  <ion-card-tile color="primary" style="font-size: 18px;">
    Parece que você nunca fez um descarte solidário.
  </ion-card-tile>
  <br>
  <br>
  <ion-card-text style="text-align: center; font-size: 18px;">
    <b>Que tal começar agora?</b>
  </ion-card-text>
  <ion-card-content>
    <div style="display: flex; align-items: center; justify-content: center;">
      <ion-button color="success" (click)="navigateSaibaMaisDescarte()"><b>Quero conhecer mais!</b></ion-button>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>
