<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button>
        </ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Configurações da conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <div style="display: flex; justify-content:center; width: 100%;">
    <ion-img src={{imgUsuarioLogado}}></ion-img>
    </div>
    
    <ion-card-content>
      <div style="display: flex; justify-content:center">
        <ion-button color="primary" (click)="navigateAtualizarFoto()">
          Alterar minha imagem de perfil
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-list>
      <ion-item (click)="navigateAtualizarEmail()">
        <ion-icon name="person-sharp" slot="start"></ion-icon>
        <ion-label>
          <h1>Alterar meu email</h1>
          <p>{{nomeUsuario}}</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="setOpen(true)">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>Alterar minha senha</h1>
          <p>******</p>
        </ion-label>
        <!-- ABERTURA DO MODAL PARA ATUALIZAÇÃO DA SENHA -->
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar color="secondary">
                <ion-title>Atualizar senha</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Fechar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
             <ion-card color="warning">
              <ion-card-content>
                <ion-text>
                  Você precisará informar sua senha atual para atualizar sua senha
                </ion-text>
              </ion-card-content>
            </ion-card>
            <ion-card>
             <ion-card-content>
              <form [formGroup]="formGroup" (ngSubmit)="onSubmitSenha()">
                <ion-item>
                  <ion-label position="floating">Senha atual</ion-label>
                  <ion-input type="password" formControlName="senhaAntiga"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nova senha</ion-label>
                  <ion-input type="password" formControlName="novaSenhaUm"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Confirmar nova senha</ion-label>
                  <ion-input type="password" formControlName="novaSenhaDois"></ion-input>
                </ion-item>
                <br>
                <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Atualizar senha</ion-button>
             </form>
              </ion-card-content>
            </ion-card>
            </ion-content>
          </ng-template>
        </ion-modal>
        <!-- FECHAMENTO DO MODAL PARA ATUALIZAR A SENHA -->
      </ion-item>

      <ion-item (click)="presentAlert()">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>Atualizar meus contatos</h1>
          <p>{{telefoneContato}}</p>
        </ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label color="danger">
          <h1>Excluir minha conta</h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
