<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="tipoUsuarioLogado == 'Usuário'; else elseblock">
      Administrador
    </ion-title>
    <ion-title #elseBlock>Minha conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card class="ion-padding">
    <div style="display: flex; justify-content:center; width: 100%; height: 100%;">
    <ion-img alt="{{imgUsuarioLogado}}" src={{imgUsuarioLogado}}></ion-img>
    </div>
    
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        {{nomeUsuarioLogado}}
      </ion-card-title>
      <ion-card-subtitle class="ion-text-center">
        {{emailUsuarioLogado}}
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card color="dark">
    <ion-list>
      <ion-item (click)="navigateConfiguracoesConta()" *ngIf="tipoUsuarioLogado == 'Cliente'">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>Configurações da conta</h1>
          <p>Email, imagem de perfil, etc...</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateComunicarProblema()" *ngIf="tipoUsuarioLogado == 'Cliente' ">
        <ion-icon name="bug-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>Informar um problema</h1>
          <p>Fale conosco para comunicar um problema</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateMeuContrato()" *ngIf="tipoUsuarioLogado == 'Cliente'">
        <ion-icon name="clipboard-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>Meu contrato</h1>
          <p>Informações do contrato</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="tipoUsuarioLogado == 'Cliente'" href="localhost/AppWeb">
        <ion-icon name="information-circle-sharp" slot="start" ></ion-icon>
        <ion-label>
          <h1>Sobre a <b>Tecnoo</b></h1>
          <p>Conheça mais sobre a Tecnoo</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateUsuarios()" *ngIf="tipoUsuarioLogado != 'Cliente'">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>Usuários</h1>
          <p>Administrar <b>usuários</b> do sistema</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="navigateClientes()" *ngIf="tipoUsuarioLogado != 'Cliente'">
        <ion-icon name="people-circle-outline" slot="start" ></ion-icon>
        <ion-label>
          <h1>Clientes</h1>
          <p>Administrar os <b>clientes</b> do sistema</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>
          <h1>Sair</h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  
</ion-content>
