<ion-header>
  <ion-toolbar>
    <ion-title>Lista de clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Lista de clientes
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>

  <div style="background-color:var(--ion-color-primary);width: 100%; height: 100%; border-radius: 35px 35px 0% 0%; margin-top: 10px;" class="ion-padding">

    <ion-card class="ion-padding" color="light">
      <div style="display: flex; justify-content:center">
      <ion-icon name="information-circle-sharp" style="font-size: 2rem;"></ion-icon>
      </div>
      <ion-card-title style="font-size: 15px;">
        Toque sobre um cliente para visualizar mais detalhes.
      </ion-card-title>
     </ion-card>


    <ion-card *ngFor="let cliente of clientes" (click)="presentActionSheet(cliente)">
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            <h1>
              {{cliente.nome_cliente}}
            </h1>
            <p>
              {{cliente.email_cliente}}
            </p>
          </ion-label>
          <ion-avatar slot="start">
            <!-- <ion-img *ngIf="cliente.foto_cliente !== 'null'"
            src="http://localhost/api-php-v2/images/{{cliente.foto_cliente}}"
            ></ion-img>
             -->
            <ion-img *ngIf="cliente.foto_cliente == null"
            src="https://www.w3schools.com/howto/img_avatar.png"
            ></ion-img>
          </ion-avatar>
        </ion-item>
      </ion-list>
  
    </ion-card>
    
  </div>

</ion-content>
