@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');

:root {
	--ion-color-primary: #402e58;
	--ion-color-primary-rgb: 113,47,121;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #63296a;
	--ion-color-primary-tint: #7f4486;

	--ion-color-secondary: #9FC2CC;
	--ion-color-secondary-rgb: 151,99,145;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #577d85;
	--ion-color-secondary-tint: #217189;

	--ion-color-tertiary: #48639C;
	--ion-color-tertiary-rgb: 72,99,156;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #3f5789;
	--ion-color-tertiary-tint: #5a73a6;

  --ion-color-success: #B3EFB2;
	--ion-color-success-rgb: 179,239,178;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #9ed29d;
	--ion-color-success-tint: #bbf1ba;

	--ion-color-warning: #F0E68C;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

  --ion-color-danger: #A8201A;
	--ion-color-danger-rgb: 168,32,26;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #941c17;
	--ion-color-danger-tint: #b13631;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}




