<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button>
        </ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Informações do chamado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="ion-padding" style="display: flex; flex-direction: column; align-items: center;">
  <ion-text>
    Solicitação criada em {{dataAbertura}}
  </ion-text>
 
  <ion-text color="primary">
    Protocolo da solicitação: {{protocoloChamado}}
  </ion-text>
</ion-card>

<ion-card class="ion-padding">
  <ion-card-title style="font-size: 1.5rem;">{{tituloChamado}}</ion-card-title>
</ion-card>

<ion-card class="ion-padding">
  <ion-card-subtitle color="primary">
    Descrição do chamado
  </ion-card-subtitle>
  <ion-card-content>
    <ion-text>
      {{descriChamado}}
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card class="ion-padding" color="warning">
  <ion-card-subtitle color="primary">
    Prazo limite para atendimento
  </ion-card-subtitle>
  <ion-card-content>
    <ion-text style="font-size: 1.2rem;">
      <b>{{dataLimite}}</b>
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-list>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>
        <h1>Data de finalização</h1>
        <p *ngIf="dataFinalizacao === 'null'">O chamado ainda não foi concluido.</p>
        <p *ngIf="dataFinalizacao !== 'null'">{{dataFinalizacao}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="statusChamado !== Finalizado || statusChamado !== Cancelado" color="success">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>
        <h1>Status atual</h1>
        <b>{{statusChamado}}</b>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card class="ion-padding">
  <ion-card-subtitle>Imagem anexada:</ion-card-subtitle>
  <ion-card-content>
    <ion-img *ngIf="foto_erro_chamado" src="{{foto_erro_chamado}}"></ion-img>
    <ion-text *ngIf="!foto_erro_chamado">Nenhuma imagem foi anexada.</ion-text>
  </ion-card-content>
</ion-card>

<!-- Informações do cliente -->
<ion-card class="ion-padding" *ngIf="tipoUsuarioLogado != 'Cliente'" style="display: flex; flex-direction:column; align-items:center;">
  <ion-card-subtitle>Informações do cliente</ion-card-subtitle>


  <ion-img src="{{foto_cliente}}">

  </ion-img>
  <br>
  <ion-card-title>
    {{nome_cliente}}
  </ion-card-title>
</ion-card>



<ion-card *ngIf="tipoUsuarioLogado == 'Cliente' && statusChamado.startsWith('Aguardando')">
  <ion-card-content>
    <ion-text>Problemas com essa solicitação?
    </ion-text>    
      <ion-button color="danger" expand="block" (click)="presentAlert()">Cancelar solicitação</ion-button>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="tipoUsuarioLogado !== 'Cliente'">
  <ion-card-content>
    <ion-text>Deseja atualizar esse chamado?
    </ion-text>    
      <ion-button color="success" expand="block" (click)="presentAlert()">
        <b>
          Adicionar tratativa
        </b>
      </ion-button>
  </ion-card-content>
</ion-card>




</ion-content>