<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button>
        </ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Informações do chamado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="ion-padding" style="display: flex; flex-direction: column; align-items: center;">
  <ion-text>
    Solicitação criada em {{dataAbertura}}
  </ion-text>
 
  <ion-text color="primary">
    Protocolo da solicitação: {{protocoloChamado}}
  </ion-text>
</ion-card>

<ion-card class="ion-padding">
  <ion-card-title style="font-size: 1.5rem;">{{tituloChamado}}</ion-card-title>
</ion-card>

<ion-card class="ion-padding">
  <ion-card-subtitle color="primary">
    Descrição do chamado
  </ion-card-subtitle>
  <ion-card-content>
    <ion-text>
      {{descriChamado}}
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card class="ion-padding" color="warning">
  <ion-card-subtitle color="primary">
    Prazo limite para atendimento
  </ion-card-subtitle>
  <ion-card-content>
    <ion-text style="font-size: 1.2rem;">
      <b>{{dataLimite}}</b>
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-list>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>
        <h1>Data de finalização</h1>
        <p *ngIf="dataFinalizacao === 'null'">O chamado ainda não foi concluido.</p>
        <p *ngIf="dataFinalizacao !== 'null'">{{dataFinalizacao}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="statusChamado !== Finalizado || statusChamado !== Cancelado" color="success">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>
        <h1>Status atual</h1>
        <b>{{statusChamado}}</b>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card class="ion-padding">
  <ion-card-subtitle>Imagem anexada:</ion-card-subtitle>
  <ion-card-content>
    <ion-img *ngIf="foto_erro_chamado" src="{{foto_erro_chamado}}"></ion-img>
    <ion-text *ngIf="!foto_erro_chamado">Nenhuma imagem foi anexada.</ion-text>
  </ion-card-content>
</ion-card>

<!-- Card exibindo todos os hist´óricos do chamado -->
<ion-card>
  <ion-card-content>
    <ion-card-subtitle color="primary">
      Histórico do chamado
    </ion-card-subtitle>
      <ion-list>
          <ion-item *ngIf="histAtendimento.length == 0">
            <ion-card class="ion-padding" color="warning">
                <b>
                 Esse chamado ainda não possui atendimentos.
                </b>
            </ion-card>
          </ion-item>
        <ion-item *ngFor="let historico of histAtendimento" color="light">
          <ion-label>
            <h2><b>{{historico.data_hist}}</b></h2>
            <p>{{historico.comentario}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>

<!-- Informações do cliente -->
<ion-card class="ion-padding" *ngIf="tipoUsuarioLogado != 'Cliente'" style="display: flex; flex-direction:column; align-items:center;">
  <ion-card-subtitle>Informações do cliente</ion-card-subtitle>


  <ion-img id="imgcliente" src="{{foto_cliente}}">

  </ion-img>
  <br>
  <ion-card-title>
    {{nome_cliente}}
  </ion-card-title>
</ion-card>



<ion-card *ngIf="tipoUsuarioLogado == 'Cliente' && statusChamado.startsWith('Aguardando')">
  <ion-card-content>
    <ion-text>Problemas com essa solicitação?
    </ion-text>    
      <ion-button color="danger" expand="block" (click)="presentAlert()">Cancelar solicitação</ion-button>
  </ion-card-content>
</ion-card>


<ion-card *ngIf="tipoUsuarioLogado !== 'Cliente'">
  <ion-card-content>
    <ion-text>Deseja atualizar esse chamado?
    </ion-text>    
      <ion-button color="success" expand="block" id="open-modal">
        <b>
          Adicionar tratativa
        </b>
      </ion-button>

      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" style="background-color:white">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Fechar</ion-button>
              </ion-buttons>
              <ion-title>Adicionar tratativa</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="onSubmit()" [strong]="true">Confirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-img src="../../assets/images/comunicarproblema.png"></ion-img>
          
            <ion-card class="ion-padding" color="secondary">
              <b>Preencha os dados abaixo de acordo com seu atendimento, por favor.</b>
            </ion-card>
          
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <ion-card>
              
              <ion-select interface="action-sheet" placeholder="Alterar status do chamado" formControlName="statusChamado">
                <ion-select-option value="Finalizado">Finalizar chamado</ion-select-option>
                <ion-select-option value="Em atendimento">Em atendimento</ion-select-option>
                <ion-select-option value="Cancelado">Cancelar</ion-select-option>
              </ion-select>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.statusChamado.errors?.required">
                <ion-text color="danger">
                  O campo status chamado é requerido.
                </ion-text>
              </span>
            </ion-card>
          
              <ion-card>
              <ion-item>
                <ion-textarea rows="6" cols="20" placeholder="Descreva o seu atendimento aqui..." [clearInput] formControlName="histAtendimento" required="true" type="text"></ion-textarea>
              </ion-item>
          
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.histAtendimento.errors?.required">
                <ion-text color="danger">
                  O campo descrição do atendimento é requerido.
                </ion-text>
              </span>
              
            </ion-card>
          </form>
          
          </ion-content>
        </ng-template>
      </ion-modal>
  </ion-card-content>
</ion-card>




</ion-content>