<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button>
        </ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Informações do descarte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding" style="display: flex; flex-direction: column; align-items: center;">
    <ion-text>
      Solicitação criada em <b>{{dataAbertura}}</b>
    </ion-text>
    <br>
    <ion-text color="primary">
      Protocolo da solicitação: <b>{{protocoloDescarte}}</b>
    </ion-text>
  </ion-card>
  
  <ion-card class="ion-padding">
    <ion-card-title style="font-size: 1.5rem;">{{nomeHardware}}</ion-card-title>
  </ion-card>
  
  <ion-card class="ion-padding">
    <ion-card-subtitle color="primary">
      Descrição do chamado
    </ion-card-subtitle>
    <ion-card-content>
      <ion-text>
        {{descriHardware}}
      </ion-text>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="ion-padding" color="warning">
    <ion-card-subtitle color="primary">
      Prazo limite para atendimento
    </ion-card-subtitle>
    <ion-card-content>
      <ion-text style="font-size: 1.5rem;">
        <b>{{prazo}}</b>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>
          <h1>Data de finalização</h1>
          <p *ngIf="dataRetirada === 'null'">Descarte ainda não realizado.</p>
          <p *ngIf="dataRetirada !== 'null'">{{dataRetirada}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
        <ion-label>
          <h1>Nome do solicitante</h1>
          <p><b>{{nomeSolicitante}}</b></p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="status !== Finalizado || status !== Cancelado" color="success">
        <ion-icon name="construct" slot="start"></ion-icon>
        <ion-label>
          <h1>Status atual</h1>
          <b>{{status}}</b>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  
  <ion-card class="ion-padding">
    <ion-card-subtitle>Imagem anexada:</ion-card-subtitle>
    <ion-card-content>
      <ion-img *ngIf="fotoHardware" src="{{fotoHardware}}"></ion-img>
      <ion-text *ngIf="!fotoHardware">Nenhuma imagem foi anexada.</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-img src="../../assets/images/senac.jpg"></ion-img>
  
    
    <ion-card-content>
      <ion-item >
        <ion-icon name="pin" slot="start" style="margin-left: -30px;"></ion-icon>
        <ion-label>
          <b>
            Onde fazer o descarte
          </b>
        </ion-label>
      </ion-item>
      <br>
      <ion-text>Av. Itaquera, 8266 - Vila Carmosina, São Paulo - SP, 08295-000</ion-text>
   
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-item>
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Wi-Fi disponível</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Ordem de chegada</ion-label>
    </ion-item>
  </ion-card>
 
  <ion-card *ngIf="tipoUsuarioLogado == 'Cliente' && status.startsWith('Aguardando')">
    <ion-card-content>
      <ion-text>Problemas com essa solicitação?
      </ion-text>    
        <ion-button color="danger" expand="block" (click)="presentAlert()">Cancelar solicitação</ion-button>
    </ion-card-content>
  </ion-card>

 
</ion-content>