<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button>
        </ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Solicitar novo descarte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/images/descarte1.jpg">

    </ion-img>

  </ion-card>




 <ion-card class="ion-padding" color="warning">
  <ion-card-title style="font-size: 15px;">
      Insira os dados abaixo para solicitar um novo descarte.
  </ion-card-title>
 </ion-card>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" color="light">
    <ion-list color="light">
      <ion-item>
        <ion-label position="floating" color="primary">
        <b>
          Qual Hardware deseja descartar?
        </b>
        </ion-label>
        <ion-input
          formControlName="tituloHardware"
          required="true"
          placeholder="Insira o nome do hardware"
          color="primary"
          position="floating"
        ></ion-input>
      </ion-item>
      <span class="error ion-padding"    *ngIf="isSubmitted && errorControl.tituloHardware.errors?.required">
        O nome do hardware é requerido.
      </span>
      <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.tituloHardware.errors?.minlength">
        O título do hardware deve conter ao menos 4 caracteres.
      </span>
      <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.tituloHardware.errors?.maxlength">
        O título do chamado deve conter no máximo 32 caracteres.
      </span>
      <ion-item>
        <ion-label position="floating" color="primary">
        <b>
          Descrição
        </b>
        </ion-label>
        <ion-textarea formControlName="descriHardware" required="true" placeholder="Insira uma breve descrição sobre o hardware" [autoGrow]="true"
        ></ion-textarea>

      </ion-item>
      <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.descriHardware.errors?.required">
        Uma breve descrição do hardware é requerida.
      </span>
      <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.descriHardware.errors?.minlength">
        A descrição do hardware deve conter ao menos 4 caracteres.
      </span>
      <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.descriHardware.errors?.maxlength">
        A descrição do hardware deve conter no máximo 255 caracteres.
      </span>

      <!-- <ion-item>
        <ion-select interface="action-sheet" placeholder="Estado do equipamento">
          <ion-select-option value="funcionando">Funcionando</ion-select-option>
          <ion-select-option value="funcionando-parc">Funcionando parcialmente</ion-select-option>
          <ion-select-option value="nao-funcionando">Não funcionando</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-card expand="block" class="ion-padding">
          <ion-card-subtitle>Caso seja necessário, envie uma imagem.</ion-card-subtitle>
          <br>
          <div *ngIf="filePath && filePath !== ''">
            <img [src]="filePath" alt="formGroup.value.name">
          </div>
          <input type="file" accept="image/*" name="avatar" id="avatar" (change)="onFileSelect($event)"/>
        </ion-card>
      </ion-item>
      <ion-card style="text-align: center;" class="ion-padding">
        <ion-card-subtitle color="danger">
          Ao enviar a sua solicitação, você alega que todas as informações prestadas acima são verídicas e de sua responsabilidade.
        </ion-card-subtitle>
        <br>
        <ion-button size="lg" expand="block" type="submit" color="success">
          <b>
            Solicitar
          </b>
        </ion-button>
      </ion-card>
    </ion-list>
  </form>

</ion-content>